first_flask/venv/
first_flask/__pycache__/
first_flask/__pycache__/*
first_flask/saved_model.sav
*.sav
02_feature-engineering/final_unbalanced_withLexical.csv
03_machine-learning-model/final_unbalanced_withLexical.csv
03_machine-learning-model/random-forest/final_unbalanced_withLexical.csv
03_machine-learning-model/xgboost/final_unbalanced_withLexical.csv
